
.box {
   display: flex;
   justify-content: center;
   margin-top: 200px;
}

.container {
   display: flex;
   flex-direction: column;
   width: 400px;
   height: 450px;   
   justify-content: space-around;
   align-items: center; 
   border-radius: 20px; 
   background-color: black;

}

h1 {
   color: #009092;
}

.input {   
   width: 300px;
   height: 50px;
   background-color: cyan;
   display: flex;
   justify-content: center;
   align-items: center; 
   border-radius: 10px;
} 

#nome, #altura, #peso {
   background-color: #c4ffff;
}

#nome {
   height: 25px;
   border-radius: 10px;
   text-align: center;   
}


#altura {
   height: 25px;
   border-radius: 10px;
   text-align: center;
}

#peso {
   height: 25px;
   border-radius: 10px;
   text-align: center;
}

#button {
   width: 100px;
   height: 25px;
   font-weight: bold;
   box-shadow: 0 0 5px cyan, 
   0 0 25px cyan;
   border-radius: 5px; 
   background-color: cyan;
   cursor: pointer;
}

#button:hover {
   box-shadow: 0 0 5px cyan,
   0 0 25px cyan, 0 0 50px cyan,
   0 0 100px cyan, 0 0 200px cyan;
}

.box-resultado {
   display: flex;
   justify-content: center;
   align-items: center; 
   background-color: #009092;
   width: 300px;
   height: 60px;
   border-radius: 10px;
   margin-bottom: 15;   
}

#resultado {
   color: aliceblue;     
}

